---
const { name, price, img } = Astro.props;
---

<article class="card-product flex flex-col">
    <div class="flex justify-between">
        <div>
            <h2 class="text-2xl font-bold">{name}</h2>
            <span class="price-product"> Precio: {price} €</span>
            <div class="counter-product">
                <output><span data-output={name}>00</span>€</output>
            </div>
        </div>

        <picture class="flex justify-end relative h-full">
            <img class="rounded-full w-12 h-12 z-0" src={img} alt="" />
        </picture>
    </div>

    <div
        data-product={name}
        class="counter flex justify-end space-x-5 items-center"
    >
        <button type="button" class="btn-counter" data-btn-type="plus">
            &#43
        </button>
        <span class="display-counter text-lg font-bold" data-quantity>00</span>
        <button type="button" class="btn-counter" data-btn-type="minor">
            &#45
        </button>
    </div>
</article>

<style>
    .card-product {
        min-height: 150px;
        position: relative;
        padding: 1rem;
        background-color: white;
        background-image: none;
        background-size: 400%;
        border-radius: 0.6rem;
        background-position: 100%;
        transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
            0 2px 4px -2px rgba(0, 0, 0, 0.1);
    }
    .btn-counter {
        width: 2.6rem;
        height: 2.6rem;
        font-size: 1.5rem;
        border-radius: 9999em;
        background-color: var(--color-primary);
        color: var(--color-white);
    }

    .btn-counter {
        cursor: pointer;
        transition: 0.1s ease;
        border-width: 0;
    }

    .btn-counter:active {
        transform: translateY(4px);
    }
</style>
